@import "tailwindcss";

:root {
    --ff-sans: sans-serif;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 800;

    --fs-400: 0.9365rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    color: var(--color-gray-400);
}

body {
    margin: 0;
    padding-block-end: 5rem;
}

h1,
h2,
h3 {
    color: var(--color-gray-900);
    font-size: large;
    line-height: 1.2;
}

img {
    display: block;
    width: 100%;
}

.wrapper {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 2rem;
}
