@import "tailwindcss";

:root {
    --ff-sans: sans-serif;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 800;

    --fs-300: 0.9365rem;
    --fs-400: 1.25rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    color: var(--color-gray-500);
}

body {
    margin: 0;
    padding-block-end: 5rem;
}

h1,
h2,
h3 {
    color: var(--color-gray-900);
    font-size: var(--fs-600);
    line-height: 1.2;
    margin-bottom: 1rem;
}

h1 {
    font-size: var(--fs-900);
    margin-bottom: 3rem;
}

img {
    display: block;
    width: 100%;
}

.wrapper {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 5vh;
}

@media (min-width: 800px) {
    .wrapper {
        margin-block: 15vh;
    }
}
