---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import portrait from "../assets/portrait2.jpeg";
import type { record } from "astro:schema";
---

<Layout>
    <div class="wrapper wrapper--narrow">
        <div class="layout-grid">
            <!-- Profile Image Card -->
            <div class="card card-img">
                <Image
                    src={portrait}
                    alt="profile_img"
                    height={500}
                    width={500}
                    loading={"eager"}
                />
            </div>

            <!-- Profile Card -->
            <div class="card card-profile">
                <h1><span>Hiii I'm</span><br />Sean Leong Wei Xuan</h1>

                <p>
                    I am a software developer with expertise in both front-end
                    and backend technologies, including Javascript, Python, and
                    Java.
                </p>
                <p>
                    Passionate about building scalable and user-friendly
                    applications, I focus on writing clean, efficient code and
                    staying current with industry trends.
                </p>
                <p>
                    Skilled in API integrations, responsive design, and
                    performance optimization.
                </p>

                <hr />

                <h2>Currently working for: WMDE</h2>

                <div class="work-grid"></div>
            </div>

            <!-- Socials Card -->
            <div class="card card-socials">
                <Icon name="github" size={70} />
                <!-- <Icon name="linkedin" />
                <Icon name="instagram" /> -->
            </div>
        </div>
    </div>
</Layout>

<style>
    h1 {
        font-size: var(--fs-900);
        margin-bottom: var(--gap);
    }

    span {
        font-size: var(--fs-400);
        font-weight: var(--fw-light);
        color: var(--color-gray-500);
    }

    p,
    hr {
        margin-bottom: var(--gap);
    }

    h2 {
        font-size: var(--fs-400);
        text-align: center;
    }

    .wrapper--narrow {
        max-width: 860px;
    }

    .layout-grid {
        --gap: 1rem;
        display: grid;
        gap: var(--gap);
    }

    @media (min-width: 800px) {
        .layout-grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        .card-img {
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;
        }

        .card-socials {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
        }
        .card-profile {
            grid-column: 2 / span 1;
            grid-row: 1 / span 3;
        }
    }

    .card {
        padding: 1rem;
        border: 1px solid grey;
        border-radius: 25px;
        box-shadow: 0 1rem 1.5rem -0.5rem rgb(0 50 100 / 0.15);
    }

    .card-img {
        padding: 0;
        overflow: hidden;
        max-height: 30rem;
    }

    .card-socials {
        display: flex;
        justify-items: center;
    }

    .card-socials > * {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }

    .card-socials > *:hover {
        scale: 1.1;
    }
</style>
