---
const name = "Sean Leong";
---

<footer>
    <div class="footer-wrapper">
        <div
            class="footer footer-wrapper footer-center bg-base-200 rounded-2xl text-base-content p-4"
        >
            <aside>
                <p>
                    Copyright © {new Date().getFullYear()} - Sean Leong
                </p>
            </aside>
        </div>
        <!-- Created by {name}. Built with <a href="https://astro.build/" target="_"
                >Astro</a
                >. -->
    </div>
</footer>

<style>
    footer {
        padding: 2rem 0;
    }

    .footer-wrapper {
        max-width: 1280px;
        margin-inline: auto;
        padding-inline: 2rem;
    }
</style>
