---

---

<header>
    <div class="header-wrapper">
        <h2><a href="/">Sean Leong</a></h2>
        <ul class="list">
            <a href="/">About Me</a>
            <a href="/about">Experience</a>
            <a href="/blog">Blog</a>
        </ul>
        <a class="button" href="">Quack Me!</a>
        <div class="mobile">
            Hamburger
            <div class="mobile-list"></div>
        </div>
    </div>
</header>

<style>
    header {
        position: sticky;
        top: 0;
        padding: 1rem 0;
    }

    .header-wrapper {
        max-width: 1280px;
        margin-inline: auto;
        padding-inline: 2rem;
    }

    h2 {
        font-size: var(--fs-400);
    }

    header div {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        margin: auto 0;
    }

    .list {
        display: flex;
        gap: 3rem;
    }

    ul,
    .button {
        display: none;
    }

    .mobile {
        display: inline;
    }

    @media (min-width: 800px) {
        ul,
        .button {
            display: flex;
        }

        .mobile {
            display: none;
        }
    }
</style>
