---

---

<header>
    <div class="wrapper">
        <h1>Sean Leong</h1>
        <ul class="list">
            <a href="/">About Me</a>
            <a href="/about">Experience</a>
            <a href="/blog">Blog</a>
        </ul>
        <button>Quack Me!</button>
    </div>
</header>

<style>
    header {
        padding: 1rem 0;
    }
    
    header div {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        margin: auto 0;
    }

    .list {
        display: flex;
        gap: 3rem;
    }
</style>
